sudo: false
language: python
python: 2.7
matrix:
    include:
    - os: osx
      language: generic
      install:
        - brew install gcc@5 tcc llvm
        - pip install -r optional_requirements.txt
        - pip install -r requirements.txt
      env: PATH=/usr/local/opt/llvm/bin:$PATH LLVM_CONFIG=llvm-config
    - before_install: pip install -r optional_requirements.txt
      python: 2.7
addons:
    apt:
        sources: ['llvm-toolchain-precise-3.9', 'ubuntu-toolchain-r-test']
        packages:
            - llvm-3.9
            - llvm-3.9-dev
            - g++-5
            - texinfo
            - texi2html
env: LLVM_CONFIG=llvm-config-3.9
before_script:
# install tcc
- git clone http://repo.or.cz/tinycc.git -b release_0_9_26 && cd tinycc
- ./configure --disable-static --tccdir=./ --libdir=$(pwd) --includedir=$(pwd)
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then make && ln -s libtcc.so.1.0 libtcc.so && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$(pwd); fi && cd ..
# use the system libdtc++ instead of statically linking it for llvmvite
- git clone https://github.com/numba/llvmlite -b v0.16.0
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sed -i 's/-static-libstdc++ //' llvmlite/ffi/Makefile.linux; fi
- pip install enum34 && CXX=g++-5 pip install llvmlite/
# install miasm
- python setup.py build build_ext -I$(pwd)/tinycc -L$(pwd)/tinycc
- python setup.py install
script: cd test && python test_all.py
